.header {
  background-color: black;
  margin: 0;
  height: 20px;;
  border: 1px black solid;
  border-bottom: 1 white solid;
}

.logostrip {
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  display: block;
  background-color: black;
}

.center-text{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}