
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.logostrip {
  height: 60px;
  margin: 0 auto;
  padding-bottom: 0;
  display: block;
  background-color: black;
}

.center-text{
  padding-top: 6px;
  text-align: center;
}

.menu {
  position: relative;
  top: -15px;
  height: 30px;
  background-color: #101010;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.menu a {
  text-decoration: none;
  color: white;
}

.body-style {
  padding: 20px 20px;
  color: white;
  position: relative;
  top: -13px;
  background-color: black;
  height: 1000px;
}